@import '../../../common';

$services: 'buying_a_property';

.free-consulting-insert {
  display: flex;
  min-height: 100px;
  background-color: white;
  margin: 3vh 50vw 3vh 10vw;
  position: relative;
  z-index: 2;

  @include phone-and-tablet {
    margin: 3vh 20vw 3vh 2vw;
  }

  &-text {
    line-height: 30px;
    color: #8a7671;
    min-height: 50px;
    padding: 7% 20% 7% 16%;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-inner {
      display: flex;
      flex-direction: row;
    }

    @include phone-and-tablet {
      padding: 1rem;
      left: 1rem;
    }

    &-num {
      display: flex;
      background-color: #dabbb5;
      color: white;
      padding: 1px;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      text-align: center;
      margin: 8px;
    }

    &-li {
      width: calc(100% - 50px);
      display: flex;
      line-height: 41px;
      word-wrap: break-word;
    }
  }

  &-line {
    position: absolute;
    width: 80px;
    height: 4px;
    bottom: 20%;
    right: -40px;
    background-color: #dabbb5;
  }
}
