@import '../common';

footer.footer {
  min-height: 30vh;
  background-color: $color-brown-background;
  position: relative;
  padding: 2rem 4rem;

  @include phone-and-tablet {
    padding: 2rem 1rem 10rem;
  }

  .footer-image {
    width: 30vw;
    min-height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/pattern-light.png');
    position: absolute;
    bottom: 0;
    right: 0;

    @include phone-and-tablet {
      background-image: url('/static/images/pattern-light-mobile.png');
      background-size: contain;
      background-position-x: right;
      background-position-y: bottom;
      width: 70vw;
    }
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include phone-and-tablet {
      flex-direction: column;
    }

    .footer-links {
      display: flex;
      height: 100%;
      flex: 2;
      flex-direction: column;
      justify-content: space-between;

      &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 10rem;

        @include phone-and-tablet {
          padding-bottom: 3rem;
        }
      }

      &-col {
        display: flex;
        flex-direction: column;

        .footer-link {
          margin: 0.5rem 1rem 0.5rem 0;
          color: $color-white;
          font-size: 18px;
          cursor: pointer;

          @include phone-and-tablet {
            font-size: 14px;
          }

          &:hover {
            color: white;
          }
        }
      }

      .footer-social {
        display: flex;

        @include phone-and-tablet {
          padding-bottom: 3rem;
        }

        .social-link {
          width: 24px;
          height: 24px;
          margin-right: 1rem;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }

          &.telegram {
            background-size: contain;
            background-image: url('/static/images/telegram-icon.png');
          }
          &.facebook {
            background-size: contain;
            background-image: url('/static/images/facebook-icon.png');
          }
          &.instagram {
            background-size: contain;
            background-image: url('/static/images/instagram-icon.png');
          }
        }
      }
    }

    .footer-subscribe {
      display: flex;
      flex: 1;
      width: 10vw;
      flex-direction: column;
      padding: 0 3rem;

      @include phone-and-tablet {
        width: auto;
        padding: 0;
      }

      p {
        color: $color-white;
        font-size: 18px;
      }

      input {
        margin: 30px 0;
        margin-right: 100px;
      }

      button {
        width: 200px;
      }
    }
  }
}
