@import '../common';

.logo-with-text {
  width: 90px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/static/images/logo-without-text.png');
  background-position: center;

  @include phone-and-tablet {
    width: 70px;
    height: 50px;
  }
}
