@import '../common';

.logo-with-text {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/static/images/logo-with-text.png');

  @include phone-and-tablet {
    width: 50px;
    height: 50px;
  }
}
