@import '../common';

.home {
  font-size: $font-size;
}

.menu-button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('/static/images/menu.png');
  cursor: pointer;

  @include phone-and-tablet {
    width: 25px;
    height: 25px;
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -25vw;
  background-color: $color-gray-light;
  min-width: 25vw;
  z-index: 9999;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;

  &.opened {
    transform: translate3d(25vw, 0, 0);
    animation-timing-function: 1s ease-in;
  }

  @include phone-and-tablet {
    left: -100vw;
    width: 100%;
    overflow: scroll;

    &.opened {
      transform: translate3d(100vw, 0, 0);
      animation-timing-function: 1s ease-in;
    }
  }

  &-inner {
    position: relative;
    padding: 50px 25px 25px;
  }

  &-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &-close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/static/images/close.png');
    cursor: pointer;
  }

  li {
    list-style-type: none;
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.selected a {
      color: $color-brown;
    }

    &.with-inner-links {
      a {
        margin-right: 10px;
      }

      &.with-inner-links .inner-links a {
        color: $color-brown;
        font-size: 18px;

        &:hover {
          color: $color-black;
        }
      }
    }

    .menu-item-inner-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      width: 100%;

      a {
        width: auto;
        cursor: pointer;
      }
    }

    & + .inner-links {
      padding-inline-start: 0px;

      li.selected a {
        color: $color-black;
      }

      a {
        color: $color-brown;
        font-size: 18px;

        &:hover {
          color: $color-black;
        }
      }
    }

    a {
      font-size: 18px;
      color: $color-black;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      &:hover {
        color: $color-brown;
      }
    }

    .menu-item-arrow {
      width: 11px;
      height: 11px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/static/images/arrow-right.png');
      cursor: pointer;

      &.close {
        transform: rotate(90deg);
      }
    }
  }
}
