{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@api": "./src/api",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@types": "./src/types",
          "@pages": "./pages",
          "@server": "./server",
          "@stores": "./stores",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@static": "./static"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
