@import '../../../common';

$services: 'buying_a_property';

.property-for-sale-list {
  z-index: 0;
  position: relative;
  display: flex;
  min-height: 100px;
  background-color: white;
  top: -15vh;
  margin: 0 0vw 3vh 30vw;

  @include phone-and-tablet {
    padding-top: 7vh;
    margin: 0 3vw 3vh 20vw;
  }

  &-text {
    line-height: 30px;
    color: #898989;
    min-height: 50px;
    padding: 9rem 30rem 5rem 4rem;

    @include phone-and-tablet {
      padding: 2rem;
      left: 1rem;
    }

    &-li {
      font-size: 16px;
      margin-top: 1rem;
    }
  }

  &-image {
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    margin: -60px 0 0 0;
    width: 600px;
    height: 339px;
    background-image: url('/static/images/notebook-icon.png');

    @include phone-and-tablet {
      display: none;
      // height: 30vw;
      // margin: 0;
      // right: 0;
      // top: -5vh;
      // width: 45vw;
      // z-index: 99;
    }
  }
}
//manufactoring_of_passports_header.png
