@import '../../common';

$services: 'buying_a_property';

.contacts-location {
  position: relative;
  display: flex;
  width: 30vw;
  height: 17vw;
  z-index: 3;
  margin: 5vw 0 0 60vw;
  background-color: #8a7671;

  @include phone-and-tablet {
    width: 100%;
    top: 1rem;
    height: 15rem;
    margin: 0;
  }

  &-line {
    width: 80px;
    height: 5px;
    background-color: #ffffff;
    margin: 1vw 6vw;

    @include phone-and-tablet {
      margin-left: 7vw;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  &-text {
    font-family: 'Lato', sans-serif;
    line-height: 2vw;
    color: #ffffff;
    font-weight: normal;

    @include phone-and-tablet {
      width: 100%;
      padding: 2rem;
      left: 1rem;
      padding-top: 5%;
    }

    &-title {
      text-align: center;
      font-size: 25px;
      margin: 2vw 6vw 0 6vw;

      @include phone-and-tablet {
        font-size: 25px;
        margin-bottom: 2rem;
        margin-left: 0;
      }
    }

    &-location {
      font-size: 15px;
      margin: 1vw 6vw 0 6vw;

      @include phone-and-tablet {
        font-size: 15px;
        margin: 7vw 6vw 0 7vw;
      }
    }
  }
}
