@import '../../common';

$services: 'buying_a_property';

.contacts-info {
  position: relative;
  display: flex;
  width: 30vw;
  height: 30vw;
  z-index: 2;
  margin: -47vw 0 0 20vw;
  background-color: #8a7671;

  @include phone-and-tablet {
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
  }

  &-block {
    display: grid;
    grid-template-columns: 25px;
    position: absolute;
    margin-top: -14vw;
    margin-left: 4vw;

    @include phone-and-tablet {
      width: 22rem;
      height: 22rem;
      margin-top: -38vw;
      margin-left: 2vw;
      grid-template-rows: 25px 25px 25px;
      gap: 15px;
    }

    &-img {
      width: 20px;
      margin-top: 2.5vw;
      min-height: 20px;

      @include phone-and-tablet {
        width: 15px;
        min-height: 15px;
      }
    }
  }

  &-footer {
    margin-left: 3vw;
    bottom: 0;

    &-img {
      width: 20px;
      margin-left: 1vw;
      margin-top: 2.5vw;
      min-height: 20px;
    }
  }

  &-text {
    font-family: 'Lato', sans-serif;
    line-height: 2vw;
    color: #ffffff;

    @include phone-and-tablet {
      width: 100%;
      padding: 2rem;
      left: 1rem;
      padding-top: 5%;
    }

    &-title {
      text-align: center;
      font-size: 25px;
      margin-top: 5vw;
      margin-bottom: 2vw;

      @include phone-and-tablet {
        font-size: 18px;
        margin-bottom: 7vw;
      }
    }
    &-li {
      font-size: 15px;
      margin: 2vw 5vw 0 7vw;

      @include phone-and-tablet {
        line-height: 20px;
        font-size: 15px;
        margin: 5vw 5vw 0 10vw;
      }
    }
  }
}
a {
  text-decoration: none;
  color: white;
}

.footer-social {
  margin: 5vw 2vw;
  display: flex;

  @include phone-and-tablet {
    padding-bottom: 3rem;
    margin: 15vw 2vw;
  }

  .social-link {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
    &.telegram {
      background-size: contain;
      background-image: url('/static/images/Contacts/telegram.png');
    }
    &.facebook {
      background-size: contain;
      background-image: url('/static/images/Contacts/facebook.png');
    }
    &.instagram {
      background-size: contain;
      background-image: url('/static/images/Contacts/instagram.png');
    }
  }
}
//manufactoring_of_passports_header.png
