@import '../../common';

$services: 'buying_a_property';

.contacts {
  position: relative;
  display: flex;
  width: 100%;
  height: 55vw;
  z-index: 1;

  @include phone-and-tablet {
    width: 22rem;
    margin: 0 auto;
  }

  &-images {
    position: absolute;
    background-image: url('/static/images/contacts_header.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vw;
    margin-top: 13vw;

    @include phone-and-tablet {
    }
  }

  &-line {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #705e5b;

    @include phone-and-tablet {
      height: 3px;
    }
  }

  &-text {
    font-family: 'Lato', sans-serif;
    color: #8a7671;
    min-height: 50px;
    padding: 1vw 0vw 0vw 20vw;

    @include phone-and-tablet {
      width: 100%;
      padding: 2rem;
      left: 1rem;
      padding-top: 5%;
    }

    &-title {
      font-size: 46px;
      padding-bottom: 1rem;
      color: #3d3331;

      @include phone-and-tablet {
        font-size: 18px;
      }
    }
  }
}
//manufactoring_of_passports_header.png
