@import '../../common';

$services: 'buying_a_property';

.contacts-info {
  position: relative;
  display: flex;
  width: 30vw;
  height: 30vw;
  z-index: 2;
  margin: -47vw 0 0 20vw;
  background-color: #8a7671;

  @include phone-and-tablet {
    width: 100%;
    height: 17rem;
    margin: 0;
  }

  &-img {
    width: 20px;
    margin-top: 5vh;
    min-height: 20px;

    @include phone-and-tablet {
      width: 15px;
      min-height: 15px;
    }
  }
  &-block {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
  }
  &-text {
    font-family: 'Lato', sans-serif;
    line-height: 2vh;
    color: #ffffff;

    @include phone-and-tablet {
      width: 100%;
      padding: 2rem;
      left: 1rem;
      padding-top: 5%;
    }

    &-title {
      text-align: center;
      font-size: 25px;
      margin-top: 5vw;
      margin-bottom: 2vw;

      @include phone-and-tablet {
        font-size: 18px;
        margin-bottom: 7vw;
        margin-left: 7vw;
      }
    }
    &-li {
      font-size: 15px;
      margin: 0vw 5vw 0 7vw;

      @include phone-and-tablet {
        line-height: 20px;
        font-size: 15px;
        margin: 5vw 3vw 0 15vw;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-social {
    margin: 5vw 2vw;
    display: flex;

    @include phone-and-tablet {
      display: none;
      padding-bottom: 3rem;
      margin: 15vw 7vw;
    }

    .social-link {
      width: 24px;
      height: 24px;
      margin-right: 1rem;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
      &.telegram {
        background-size: contain;
        background-image: url('/static/images/contacts/telegram.png');
      }
      &.facebook {
        background-size: contain;
        background-image: url('/static/images/contacts/facebook.png');
      }
      &.instagram {
        background-size: contain;
        background-image: url('/static/images/contacts/instagram.png');
      }
    }
  }
}

//manufactoring_of_passports_header.png
