$font-size: 50px;

$color-white: #cbcbcb;
$color-gray-light: #f9f9f9;
$color-gray-dark: #9a9a9a;
$color-gray-darkest: #bebebe;
$color-gray: #efefef;
$color-black: #3d3331;
$color-black-light: #898989;
$color-brown: #84726d;
$color-brown-background: #524643;
$color-brown-line: #705e5b;

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

body {
  overflow: overlay;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '../../node_modules/react-notifications-component/dist/scss/notification.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone-and-tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
}
