@import '../../../common';

$services: 'buying_a_property';

.legal-support-insert3 {
  position: relative;
  z-index: 3;
  display: flex;
  min-height: 100px;
  background-color: white;
  margin: -10vh 45vw 3vh 10vw;

  &-line {
    margin: 0 0 4vw 5vw;
    position: absolute;
    width: 100px;
    height: 4px;
    bottom: 0;
    background-color: #8a7671;
  }

  &-text {
    line-height: 25px;
    color: #8a7671;
    min-height: 50px;
    padding: 7vh 5vw 12vh 5vw;

    @include phone-and-tablet {
      width: calc(60vw - 4rem);
      padding: 2rem;
      left: 1rem;
    }

    &-subtitle {
      font-size: 16px;

      @include phone-and-tablet {
        font-size: 12px;
      }
    }
  }
}
//manufactoring_of_passports_header.png
