@import '../../common';

.deal-search-params {
  background-color: $color-gray-darkest;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  .type-param {
    color: #818181;
    padding: 10px 1rem;
    cursor: pointer;
    min-width: 70px;

    &:hover,
    &.visible {
      color: white;
    }
  }

  .type-param-values {
    color: #818181;
    position: absolute;
    background-color: #efefef;
    width: 100%;
    left: 0;
    top: 38px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    &-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &-circle {
        width: 20px;
        height: 20px;
        border-radius: 10px;

        &.red {
          background-color: #d81b22;
        }
        &.blue {
          background-color: #4980c0;
        }
        &.green {
          background-color: #04b157;
        }
      }

      &.red {
        .type-param-values-item {
          &:hover {
            color: lighten(#d81b22, 15%);
          }
          &.selected {
            color: #d81b22;
          }
        }
      }

      &.blue {
        .type-param-values-item {
          &:hover {
            color: lighten(#4980c0, 15%);
          }
          &.selected {
            color: #4980c0;
          }
        }
      }

      &.green {
        .type-param-values-item {
          &:hover {
            color: lighten(#04b157, 15%);
          }
          &.selected {
            color: #04b157;
          }
        }
      }

      .type-param-values-item {
        padding: 1rem;
        cursor: pointer;
      }
    }

    &-item {
      padding: 1rem 2rem;
      cursor: pointer;

      &.selected {
        color: $color-black;
      }
    }
  }
}
