@import '../../common';

.deal-search-params {
  background-color: $color-gray-darkest;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  @include phone-and-tablet {
    width: 100vw;
    flex-wrap: wrap;
    padding: 0 0 0 10vw;
  }

  .type-param {
    color: #818181;
    padding: 10px 1rem;
    cursor: pointer;
    min-width: 70px;
    position: relative;

    @include phone-and-tablet {
      padding: 10px 2rem 10px 0;
    }

    &:hover,
    &.visible {
      color: white;
    }
  }

  .type-param-values {
    color: #818181;
    position: absolute;
    background-color: #efefef;
    width: 100%;
    left: 0;
    top: 38px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    z-index: 9999;

    @include phone-and-tablet {
      top: 76px;
    }

    &.price,
    &.area {
      flex-direction: row;

      @include phone-and-tablet {
        flex-direction: column;
      }

      .type-param-values-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-select {
          padding: 0.5rem 1rem;
          margin: 0 0.5rem;
          background-color: rgba(white, 0.5);
          color: $color-gray-dark;

          @include phone-and-tablet {
            flex-direction: column;
            padding: 0.5rem 1rem;
            margin: 0 0.5rem 0 0;
          }

          &.active {
            background-color: white;
            color: $color-brown-background;
          }
        }

        &-divider {
          width: 2rem;
          height: 1px;
          background-color: black;
          margin-right: 1rem;

          @include phone-and-tablet {
            width: 1rem;
          }
        }

        input.input {
          background-color: white;
          border-bottom: none;
          margin-right: 1rem;
          padding-left: 1rem;
          color: $color-brown-background;

          @include phone-and-tablet {
            width: 70px;
            min-width: 70px;
            padding-left: 0.5rem;
          }
        }
      }
    }

    &-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &-circle {
        width: 20px;
        height: 20px;
        border-radius: 10px;

        &.red {
          background-color: #d81b22;
        }
        &.blue {
          background-color: #4980c0;
        }
        &.green {
          background-color: #04b157;
        }
      }

      &.red {
        .type-param-values-item {
          &:hover {
            color: lighten(#d81b22, 15%);
          }
          &.selected {
            color: #d81b22;
          }
        }
      }

      &.blue {
        .type-param-values-item {
          &:hover {
            color: lighten(#4980c0, 15%);
          }
          &.selected {
            color: #4980c0;
          }
        }
      }

      &.green {
        .type-param-values-item {
          &:hover {
            color: lighten(#04b157, 15%);
          }
          &.selected {
            color: #04b157;
          }
        }
      }

      .type-param-values-item {
        padding: 1rem;
        cursor: pointer;
      }
    }

    &-item {
      padding: 1rem 2rem;
      cursor: pointer;

      &.selected {
        color: $color-black;
      }
    }
  }
}
