@import '../../common';

$services: 'manufactoring_of_passports', 'buying_a_property',
  'property_for_sale', 'legal_support', 'expert_review', 'free_consulting';

.service-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vh 10vw;

  @include phone {
    padding: 2vh 0;
  }

  .Plx {
    position: absolute;
  }

  &-text {
    width: calc(25vw - 6rem);
    min-width: 200px;
    padding: 3.5rem;
    background-color: white;

    @include phone-and-tablet {
      width: calc(60vw - 4rem);
      padding: 2rem;
      left: 1rem;
    }

    &-title {
      color: $color-black;
      font-size: 24px;
      margin: 0 0 1rem;

      @include phone-and-tablet {
        font-size: 16px;
      }
    }

    &-subtitle {
      color: $color-black-light;
      font-size: 16px;

      @include phone-and-tablet {
        font-size: 12px;
      }
    }

    &::after {
      content: '';
      width: 80px;
      height: 5px;
      background-color: $color-brown-line;
      position: absolute;
      right: -40px;
      top: 50%;

      @include phone-and-tablet {
        height: 3px;
        width: 60px;
        right: -30px;
      }
    }
  }

  &-image {
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 0px 0px;
    margin-left: calc(8vw + 8rem);
    width: calc(100% - 8vw - 8rem);
    height: 500px;

    @include phone-and-tablet {
      height: 300px;
      margin-left: 5rem;
      width: calc(100% - 5rem);
      background-size: cover;
    }

    @each $service in $services {
      &.#{$service} {
        background-image: url('/static/images/services/#{$service}_header.png');
      }
    }
  }
}

//manufactoring_of_passports_header.png
