@import '../../common';

.call-back-form {
  display: flex;
  padding: 0 10vw;
  margin: 5rem 0 0 0;
  min-height: 250px;

  @include phone-and-tablet {
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
  }

  &-left {
    width: 30vw;
    min-width: 250px;
    background-color: white;
    position: relative;

    @include phone-and-tablet {
      width: 100%;
      height: 300px;
    }

    &-image {
      width: 100%;
      height: 150%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('/static/images/call-back-image.png');
      position: absolute;
      bottom: 0;
      z-index: 999;

      @include phone-and-tablet {
        left: -20%;
        width: 120%;
        height: 135%;
      }
    }
  }

  &-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-gray;
    padding: 2rem 0;

    input {
      margin: 1rem 0;
      width: 350px;
      border-bottom: 1px solid $color-brown-background;
      color: $color-brown;

      @include phone-and-tablet {
        width: 250px;
      }
    }

    button {
      margin: 1rem 0 0 0;
      border: 1px solid $color-brown-background;

      p {
        color: $color-brown-background;
      }
    }
  }

  &-text {
    color: $color-brown-background;
    font-size: 18px;
    padding: 0 0 1rem;
  }
}
