@import '../../../common';

.deal-view {
  padding: 2rem 0 0 10vw;

  &-header {
    h1 {
      color: $color-black;
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      font-size: 28px;
    }
    h2 {
      margin: 1rem 0;
      padding: 0.5rem 1.5rem;
      color: white;
      background-color: $color-brown-background;
      font-weight: 400;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
    }
  }

  &-content {
    &-top {
      display: flex;
      margin: 2rem 0;

      &-gallery {
        width: 45vw;

        .image-gallery-custom-nav {
          width: 59px;
          height: 59px;
          background: rgba(63, 63, 63, 0.55);
          top: 50%;
          border: 0;
          cursor: pointer;
          position: absolute;
          z-index: 4;
          display: flex;
          align-items: center;
          justify-content: center;

          &.left {
            left: 0;
          }

          &.right {
            right: 0;
          }

          &-img {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            width: 28px;
            height: 26px;

            &.right {
              background-image: url('/static/images/gallery-arrow-right.png');
            }
            &.left {
              background-image: url('/static/images/gallery-arrow-left.png');
            }
          }
        }

        .image-gallery-image {
          width: 45vw;
          height: 70vh;
          max-height: 60vh;
        }
      }

      &-props {
        background-color: white;
        width: 35vw;
        min-height: 10vh;
        margin-left: 5vw;
        box-shadow: 0px 3px 5px -2px #00000045;
        position: relative;
        padding: 1rem 1rem 30vh 1rem;

        h3 {
          color: $color-black;
          font-size: 24px;
          font-weight: 400;
          font-family: 'Lato', sans-serif;
        }

        &-pattern {
          width: 25vw;
          min-height: 30vh;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('/static/images/pattern-light.png');
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

    &-text {
      width: 45vw;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      line-height: 27px;
      color: $color-black;
      margin-bottom: 2rem;
    }
  }

  &-map {
    position: relative;
    display: flex;
    width: 45vw;
    height: 30vh;

    div {
      z-index: 0 !important;
    }
  }
}
